
<form id="piano010 Contact Form" class="topBefore" method="POST" action="/thanks" target="_blank" netlify>
  <input id="name" autocomplete="on" type="text" name="name" required=true placeholder="Name and Surname">
  <br>
  <input id="email" autocomplete="on" type="email" name="email" required=true placeholder="E-mail address">
  <br>
  <input id="subject" type="text" name="subject" required=true placeholder="Subject">
  <br>
  <textarea id="message" name="message" type="text" required=true placeholder="Message"></textarea>
  <br>
  <input id="accept" type="checkbox" required="required" aria-required="true" name="accept"> 
  <label for="accept">I have read the <a href="/privacy-policy">privacy policy</a> and accept it.</label><br>
  <br>
  <!-- <input id="submit" type="submit" value="Send"> -->
  <button type="submit">Send</button>
</form>