<div style="overflow:hidden;position: relative;">
    <iframe width="100%" height="400"
        src="https://maps.google.com/maps?hl=en&amp;q=Bloemstraat+(undefined)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <style>
        .nvs {
            position: relative;
            text-align: right;
            height: 325px;
            width: 643px;
        }

        #gmap_canvas img {
            max-width: none !important;
            background: none !important
        }
    </style>
</div>