<div class="columns has-text-centered blog-card" id="blog-card--{{ item.title | slugify }}">
    <div class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet">
        {% include background-image.html image=item.feature_image %}
        <div class="image is-16by9" style='{{ style_background }}{% if item.style %} {{ item.style }}{% endif %}'></div>
    </div>
    <div class="column has-text-left-desktop has-text-left-tablet">
        <br><br><br><br>
        <h2 class="title is-size-4-touch card-title">{{item.title}}</h2>
        <div class="content has-text-grey">
            <!-- {{ post.content | truncate: 300 | strip_html | strip_newlines | strip | escape }} -->
            {{ item.content }}
            <hr class="has-background-white">
            {% include button.html text=item.button_text link=item.link %}
        </div>
        <br><br>
    </div>
</div>
