{% if site.navigation_header %}
<nav class="nav  nav--header">
  <ul class="list  list--nav">
    {% for menu_item in site.navigation_header %}
      {% for item in site.html_pages %}
        {% if item.page_id == menu_item.page_id %}
        <li class="item  item--nav{% if item.permalink == page.url %}  item--current{% endif %}">
          <a hreflang="{{ site.active_lang }}" href="{{ item.permalink_lang[site.active_lang] }}">
            {% if item.menu_title %}
            {{ item.menu_title }} 
            {% else %}
            {{ item.title }}
            {% endif %}
          </a>
        </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% include lang-switcher.html %}
  </ul>
  <button class="button  button--nav" aria-label="Menu toggle">
    {% include icon.html id="nav" title="Menu" %}
  </button>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}

<script type="text/javascript">
  const navList=document.querySelector(".header .list--nav"),button=document.querySelector(".header .button--nav"),collapseNav=()=>{document.body.clientWidth<640?navList.style.setProperty("--listHeight",`-${navList.offsetHeight}px`):navList.removeAttribute("style"),button.onclick=()=>{navList.style.setProperty("transition","margin .1s"),navList.style.getPropertyValue("--listHeight")?navList.style.removeProperty("--listHeight"):navList.style.setProperty("--listHeight",`-${navList.offsetHeight}px`)}};collapseNav(),window.addEventListener("resize",()=>{collapseNav()});
</script>