{% assign feature_text = page.feature_text %}
{% assign feature_subtext = page.feature_subtext %}
{% assign feature_image = page.feature_image %}
{% if page.collectionpage %}
  {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
  {% assign feature_text = collectiondata.feature_text %}
  {% assign feature_image = collectiondata.feature_image %}
{% endif %}

{% if feature_image %}
{% else %}
  {% assign page_feats = site.data.index.cards[site.active_lang] | where: 'link', page.permalink %}
  {% for item in page_feats %}
    {% assign feature_image = item.feature_image %}
  {% endfor %}
{% endif %}

{% if feature_text %}
  <div class="feature"{% if feature_image %} style="background-image: url({{ feature_image }})"{% endif %}>
    <div class="container  typeset" style="align-items:flex-start">
      {% if page.layout == 'index' %}
        {{ '## <span class="highlighted">' | append: feature_text | markdownify }}
      {% else %}
      <span class="highlighted">{{ '# ' | append: feature_text | markdownify }}</span>
      {% endif %}
      {% if feature_subtext %}
      {{ feature_subtext | prepend: '<span class="highlighted subtext">' | append: '</span>' | markdownify }}
      {% endif %}
    </div>
  </div>
{% else %}
  <div class="feature"{% if feature_image %} style="background-image: url({{ feature_image }})"{% endif %}>
    <div class="container  typeset" style="align-items:flex-start">
      <span class="highlighted">{{ '# ' | append: page.title | markdownify }}</span>
    </div>
  </div>
{% endif %}
