<footer class="footer">
  <div class="container">
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small><br>
      <small class="small">KvK: 24484995</small><br><br>
      <a href="https://maps.app.goo.gl/sMaYyP4bwPReitdM7" target="_blank">
      {% include icon.html id="address" title="address1" %}<small class="small">Bloemstraat, 3014 KH</small><br>
      {% include icon.html id="empty" title="address2" %}<small class="small">Rotterdam / The Netherlands</small>
      </a><br>
      <a href="https://www.selenapaydin.com" target="_blank">
        {% include icon.html id="link" title="send an e-mail" %} <small class="small">www.selenapaydin.com</small>
      </a><br>
      <a href="mailto:selenapaydin@gmail@+@com?subject=Bericht&nbsp;vanaf&nbsp;piano010"
          onmouseover="this.href=this.href.replace('@+@','.')" target="_blank">
        {% include icon.html id="email" title="send an e-mail" %} <small class="small">selenapaydin@gmail</small>
      </a><br>
      <a href="https://wa.me/31625247506?text=Dear%20Selen,%20I'm%20writing%20for%20" target="_blank">
        {% include icon.html id="whatsapp" title="text me on whatsapp" %} <small class="small">06 25 24 75 06</small>
      </a><br>
      <br><br>
    </div>
    {% include nav-footer.html %}
  </div>
</footer>
