<footer class="footer">
  <div class="container">
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
      <br><br>
      {% include icon.html id="address" title="address" %}<small class="small">Bloemstraat, 3014 KH</small><br>
      {% include icon.html id="empty" title="address" %}<small class="small">Rotterdam / The Netherlands</small><br>
      {% include icon.html id="email" title="email" %} <small class="small">selenapaydin@gmail.com</small><br>
      {% include icon.html id="phone" title="phone" %} <small class="small">06 25 24 75 06</small>
    </div>
    {% include nav-footer.html %}
  </div>
</footer>
