---
title: false
styles: true
layout: compress
---

.footer {
    padding: 3rem 1.5rem 0.5rem;
}

hr {
    background-color: white;
}

html {
    overflow-y: auto
  }

span.highlighted {
    font-weight: 700;
    background:rgba(255, 255, 255, .7) ;
    box-shadow: 10px 0 0 rgba(255, 255, 255, .7), -5px 0 0 rgba(255, 255, 255, .7);
    border-radius: 5px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0 5px 0 5px;
  }

span.subtext {
    font-weight: 400;
}

textarea#message {
    min-height: 300px;
}

#hero {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);

    &::before {
        filter: blur(0.15rem);
        background-image: url({{site.heroimage}});
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        position: absolute;
        opacity: 0.25;
        content: "";
    }
}

#blog {
    .hero-body {
        padding: 3rem 0.25rem 1rem 0.25rem;
    }

    .container {
        margin: 1.5rem auto;
    }

    .blog-card {
        transition: all 0.25s ease;
        margin-bottom: 0.5vmax;
        transform: scale(0.85);
        margin-right: 2.5vmax;
        margin-left: 2.5vmax;
        line-height: normal;
        border-radius: 0.25rem;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

        &:hover {
            transform: scale(0.875);
            -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
        }

        @media (max-width: 768px) {
            transform: scale(1);
            margin-bottom: 5vmax !important;

            &:hover {
                transform: scale(1.025);
                margin-bottom: 5vmax !important;
                -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            }

            .image {
                padding-top: 50% !important;
            }
        }

        .title {
            margin: 0.5rem !important;
        }

        .content {
            margin: 0.5rem;
        }

        .column {
            display: grid;

            .image {
                border-radius: 0.25rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

#wide-div {
    width: calc(100vw - 20px);
    margin-left: calc(-50vw + 50% + 10px);
    // border: 2px solid green;
  }

.columns {
    .button {
        margin: 0.5rem !important;
    }
}

.column {
    margin: auto 0.5rem;
    padding: 0.5rem;
}

.list:not(:last-child) {
    margin-bottom: var(--listHeight, 0);
}

.list {
    box-shadow: none;
    border-radius: 0%;
}

a.button.footer {
    font-size: 12px;
    font-weight: bold;
    background: dimgray;
    width: -webkit-fill-available;
    display: inline-flex
}

a.button {
    margin-left: 0.2em;
    display: inline-flex
}

.message-box {
    color: aqua;
    background-color: rgb(197, 78, 31);
    border: 1px solid #769239;
    border-radius: 3px;
    margin-bottom: 30px;
    text-align: center;
}


section.section.sectionfooter--description {
    padding: 0;
}

@import url('https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css');

@import "alembic";